/* Global styles import */
@import './styles/main.scss';

html{
  height: 100%;
}

body{
  height: 100%;
}

html, body {
  background-color: $cream;
  height: 100%;
}

.subtitle {
  font-weight: 400;
  margin-bottom: 1rem;
}
