#about {

	 .page-wrapper {
        overflow: hidden;
        background: url(../img/bg-pattern-circle.svg) no-repeat;
        background-position-y: -651px;
        background-position-x: 54px;
    } 
}

.main-about{
    text-align: center;
    &__title{
        margin-bottom: 3rem;
    }
    &__section{
        padding: 40px 20px;
    }
    &__image{
        width: 100%;
    }
}


.about-features {
    width: 90%;
    margin: 3rem auto;
    padding: 2rem 20px;
    border-top: 1px solid #36536b;
    border-bottom: 1px solid #36536b;
    &__title{
        font-style: italic;
        margin-bottom: 2rem;
    }
    &__count{
        font-family: 'DM Serif Display Regular', serif;
    	color:  #ba4270;
        font-size: 72px;
        font-weight: 600;
        margin-bottom: 3rem;
    }
}