#contact{
	.page-wrapper {
        overflow: hidden;
        background: url(../img/bg-pattern-circle.svg) no-repeat;
        background-position-y: -651px;
        background-position-x: 54px;
    }	
}

.main-contact{
	padding: 40px 20px;
	text-align: center;
	.contact-form{
		margin: 4rem 0;
	}

	.partners{
		background: none;
		padding: 0;
		&__title{
			margin: 1rem 0 3rem;
		}
		.partners-grid {
			padding: 0 20px;
			grid-row-gap: 30px;
		}
	}

	.start-form{
		padding: 0;
	}
}
