/*Header*/
.header {
  padding-top: 30px;
  position: relative;
  z-index: 1;
}

.app-navbar{
  &__toggle, &__hamburger{
    display: block;
  }

  &__hamburger{
    height: 28px;
    width: 35px;
    position: absolute;
    top: 50px;
    right: 44px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
  }

  &__container{
    padding: 0 44px;
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
  }

  &__toggle{
    position: absolute;
    display: block;
    height: 28px;
    width: 35px;
    right: 44px;
    top: 50px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  &__line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: $san-juan-blue;
    &--1 {
      transform-origin: 0% 0%;
      transition: transform 0.3s ease-in-out;
    }
    
    &--2 {
      transition: transform 0.1s ease-in-out;
    }
    
    &--3 {
      transform-origin: 0% 100%;
      transition: transform 0.3s ease-in-out;
    }
  }

  &__menu{
    padding-top: 100px;
    background: #24252a;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 82%;
    transform: translate(120%);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    overflow: scroll;
  }
  &__divider{
    border-bottom: 1px solid #fbfcfe54;
    width: 80%;
    margin: 1rem 0 2rem;
  }
  &__list{
    margin-bottom: 0;
    list-style: none;
  }
  
  &__item{
    list-style: none;
    font-size: 1.1rem;
    align-items: center;
    margin-bottom: 1.8rem;
    font-size: 1rem;
  }
  
  .button {
    color: $light-grey;
    width: 80%;
  }
  &__link{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }

}

.app-navbar__toggle:checked~.app-navbar__menu {
  transform: translateX(10%);
}

.app-navbar__toggle:checked~.app-navbar__hamburger .app-navbar__line--1 {
  transform: rotate(45deg);
  transform-origin: 10% 0%;
  background: $water-white;
}

.app-navbar__toggle:checked~.app-navbar__hamburger .app-navbar__line--2 {
  transform: scaleY(0);
  background: $water-white;
}

.app-navbar__toggle:checked~.app-navbar__hamburger .app-navbar__line--3 {
  transform: rotate(-45deg);
  background: $water-white;
}

@media (min-width: 768px) {
  .app-navbar{
    &__toggle, &__hamburger{
      display: none;
    }
    &__container {
      display: flex;
      height: 64px;
    }

    &__menu{
        padding-top: 0px;
        background: none;
        height: auto;
        position: initial;
        transform: unset;
        display: flex;
        flex-direction: row;
    }
    &__divider {
      display: none;
    }

    &__list{
      width: 70%;
      display: flex;
      justify-content: center;
      gap: 4rem;
      align-items: center;
    }

    &__item{
      margin-bottom: 0;
    }

    &__link{
        color: $light-san-juan-blue;
    }

    .button {
      color: $light-san-juan-blue;
      width: 30%;
      margin-left: auto;
      padding: 10px 10px;
      .app-navbar__link {
        color: $light-grey;
    }
    }
  }

}
