/*Home*/

#home {
    text-align: center;
    .page-wrapper {
        overflow: hidden;
        background: url(../img/bg-pattern-circle.svg) no-repeat center;
        background-position-y: -535px;
    }

    .start-form{
        padding: 0;
    }
}

.main-home{
    &__contact{
        padding: 0 20px;
    }
}

.hero {
    padding: 20px;
    &__image {
        width: 75%;
        margin: 0 auto 0 10%;
    }

    &__link {
        color: $san-juan-blue !important;
        padding-bottom: 1px;
        border-bottom: 1px solid;
    }
}


.features {
    padding: 20px 34px;
    &__image{
        &-1 {
            width: 146%;
            margin-left: -49px;
        }
        
        &-2 {
        width: 125%;
        margin-left: -27px;
        margin-bottom: 15px;
    }
    }

    h3 {
        margin-top: -25px;
    }
}

 .featuring-card {
        text-align: center;
        margin-bottom: 3rem;
        &__icon{
            margin-bottom: 2rem;
        }
}


@media (min-width: 768px) {
	#home{
		.page-wrapper {
			background-size: 115%;
		}
	}

	.hero{
        padding: 0 8rem;	
		&__image{
			width: 50%;
			margin: 0 auto;
		}
	}
}