/*Imports*/ /*Colors*/
/*Mixins*/
/*Header*/
.header {
  padding-top: 30px;
  position: relative;
  z-index: 1;
}

.my-navbar input[type=checkbox],
.my-navbar .hamburger-lines {
  display: block;
}

.my-navbar-container {
  padding: 0 44px;
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
}

.my-navbar-container input[type=checkbox] {
  position: absolute;
  display: block;
  height: 28px;
  width: 35px;
  right: 44px;
  top: 50px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.my-navbar-container .hamburger-lines {
  height: 28px;
  width: 35px;
  position: absolute;
  top: 50px;
  right: 44px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.my-navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #1b262f;
}

.my-navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.3s ease-in-out;
}

.my-navbar-container .hamburger-lines .line2 {
  transition: transform 0.1s ease-in-out;
}

.my-navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.3s ease-in-out;
}

.menu-items {
  padding-top: 100px;
  background: #24252a;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 82%;
  transform: translate(300%);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  overflow: scroll;
}
.menu-items .divider {
  border-bottom: 1px solid rgba(251, 252, 254, 0.3294117647);
  width: 80%;
  margin: 1rem 0 2rem;
}
.menu-items ul {
  margin-bottom: 0;
}
.menu-items li {
  list-style: none;
  font-size: 1.1rem;
  align-items: center;
  margin-bottom: 1.8rem;
  font-size: 1rem;
}
.menu-items .button {
  width: 80%;
}
.menu-items a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.my-navbar-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(10%);
}

.my-navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
  background: #fbfcfe;
}

.my-navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
  background: #fbfcfe;
}

.my-navbar-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
  background: #fbfcfe;
}

@media (min-width: 768px) {
  .my-navbar-container input[type=checkbox],
  .my-navbar-container .hamburger-lines {
    display: none;
  }
  .my-navbar-container {
    display: flex;
    height: 64px;
  }
  .menu-items {
    padding-top: 0px;
    background: none;
    height: auto;
    position: initial;
    transform: unset;
    display: flex;
    flex-direction: row;
  }
  .menu-items .divider {
    display: none;
  }
  .menu-items ul {
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
  }
  .menu-items li {
    margin-bottom: 0;
  }
  .menu-items li a {
    color: #6c8294;
  }
  .menu-items .button {
    width: 25%;
    margin-left: auto;
    padding: 10px 10px;
  }
}
/*FOOTER*/
footer {
  height: 355px;
  color: #fbfcfe;
}
footer a {
  color: #fbfcfe !important;
}

.footer-bg {
  height: 100%;
  background-image: url(../img/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: 780px;
  background-position-x: 50%;
  background-position-y: -40%;
}

/*Home*/
#home .page-wrapper {
  overflow: hidden;
  background: url(../img/bg-pattern-circle.svg) no-repeat center;
  background-position-y: -535px;
}
#home h1 {
  padding: 0px;
}

.hero {
  padding: 20px 34px 0px;
}
.hero .h3-big {
  margin-top: -15px;
  margin-bottom: 20px;
}
.hero .image-hero {
  width: 60%;
  margin: 0 auto 0 80px;
}
.hero .hero .h3-big {
  margin-top: -60px;
}
.hero a {
  color: #36536b !important;
  padding-bottom: 1px;
  border-bottom: 1px solid;
}

.features {
  padding: 40px 44px 80px;
}
.features p {
  margin-bottom: 50px;
}
.features .img-1 {
  width: 146%;
  margin-left: -49px;
}
.features .img-2 {
  width: 125%;
  margin-left: -27px;
  margin-bottom: 15px;
}
.features h3 {
  margin-top: -25px;
}
.features .featuring-card {
  text-align: center;
}
.features .featuring-card img {
  margin-top: 54px;
}
.features .featuring-card p {
  padding: 0;
  margin: 0;
}
.features .featuring-card .featuring-card-tittle {
  padding: 34px 0px 20px;
}

#pricing .page-wrapper {
  overflow: hidden;
  background: url(../img/bg-pattern-circle.svg) no-repeat;
  background-position-y: -651px;
  background-position-x: 54px;
}
#pricing main {
  padding: 0px 44px;
}
#pricing .start-form {
  padding: 0px;
}

.price-card {
  margin-bottom: 55px;
  text-align: center;
  padding: 0;
}
.price-card h4 {
  color: #ba4270;
}
.price-card .h1-small {
  margin-bottom: 2rem;
}
.price-card .pricing-features {
  padding: 20px 0;
  border-top: 1px solid #36536b;
  border-bottom: 1px solid #36536b;
}
.price-card ul {
  padding: 0;
  width: fit-content;
  margin: 0 auto;
}
.price-card li {
  list-style: none;
  color: #6c8294;
  width: fit-content;
  padding-left: 15px;
  margin-bottom: 10px;
}
.price-card .check-item {
  list-style-image: url(../img/icon-check.svg);
  color: #36536b;
  font-weight: 600;
  width: fit-content;
  padding-left: 15px;
  margin-bottom: 10px;
}

#about .page-wrapper {
  overflow: hidden;
  background: url(../img/bg-pattern-circle.svg) no-repeat;
  background-position-y: -651px;
  background-position-x: 54px;
}
#about h1 {
  padding-left: 0px;
  padding-right: 0px;
}
#about section {
  padding: 0px 44px;
}
#about .image-about {
  width: 100%;
}

.about-card {
  text-align: center;
}
.about-card p {
  padding-bottom: 50px;
}

.about-features {
  text-align: center;
  width: 80%;
  margin: 55px auto;
  padding: 15px 34px 0px;
  border-top: 1px solid #36536b;
  border-bottom: 1px solid #36536b;
}
.about-features .h1-small {
  color: #ba4270;
}

#contact .page-wrapper {
  overflow: hidden;
  background: url(../img/bg-pattern-circle.svg) no-repeat;
  background-position-y: -651px;
  background-position-x: 54px;
}
#contact main {
  padding: 0px 44px;
}
#contact .partners {
  width: 100%;
  background: none;
}
#contact .partners .h4 {
  margin-bottom: 24px;
  color: #6c8294;
}
#contact .partners .partners-grid {
  padding: 0 24px;
  grid-row-gap: 30px;
}
#contact .start-form {
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
  color: #36536b;
}

ul {
  padding: 0;
}

.page-wrapper {
  overflow: hidden;
  background: url(../img/bg-pattern-circle.svg) no-repeat center;
  background-position-y: -535px;
}

/*HEADERS*/
h1 {
  padding: 60px 0px 55px;
}

.h1-big {
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  line-height: 72px;
}

.h1-small {
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  line-height: 56px;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  line-height: 56px;
}

.h3-big {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  line-height: 36px;
}

.h3-small {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
}

h4, .h4 {
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  line-height: 32px;
}

/*Colors*/
.txt-white {
  color: #fbfcfe;
}

.txt-light-grey {
  color: #FBFCFE;
}

/*Buttons*/
.button {
  display: inline-block;
  border: none;
  padding: 10px 0;
  border-radius: 30px;
}

.primary-button {
  background: #ba4270;
  color: #fbfcfe;
}

.secondary-light-button {
  background: none;
  color: #fbfcfe !important;
  border: #fbfcfe;
  border: 1px solid #fbfcfe;
}

.secondary-dark-button {
  background: none;
  color: #36536b !important;
  border: #36536b;
  border: 1px solid #36536b;
}

.submit-query {
  border: none;
  padding: 10px 0 12px 20px;
  border-radius: 24px;
  box-shadow: 10px 10px 25px rgba(54, 83, 107, 0.1803921569);
  /* if not supported, Javascript should add class */
  /* Mozilla Firefox 4 to 18 */
  /* Mozilla Firefox 19+ */
  /* WebKit browsers */
  /* Internet Explorer 10+ */
  /* browsers with full support for placeholder styling */
}
.submit-query.placeholder {
  color: #6c8294;
}
.submit-query:-moz-placeholder {
  color: #6c8294;
}
.submit-query::-moz-placeholder {
  color: #6c8294;
}
.submit-query::-webkit-input-placeholder {
  color: #6c8294;
}
.submit-query:-ms-input-placeholder {
  color: #6c8294;
}
.submit-query::input-placeholder {
  color: #6c8294;
}
.submit-query:input-placeholder {
  color: #6c8294;
}
.submit-query::placeholder {
  color: #6c8294;
}
.submit-query:placeholder {
  color: #6c8294;
}

/*Backgorunds*/
.bg-dark {
  background: #1b262f !important;
}

.bg-light {
  background: #EDF3F8 !important;
}

/*Grids*/
.main-wrapper {
  padding: 0 44px;
}

.partners {
  background: url(../img/bg-pattern-circle.svg) no-repeat center, #1b262f;
  background-position-y: -555px;
  padding: 80px 24px;
}
.partners a.button {
  width: 130px;
}
.partners .h3-big {
  font-size: 36px;
}
.partners .partners-grid {
  padding: 0 2rem 8rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 70px;
  align-items: center;
}
.partners .partners-grid-dark svg {
  fill: #fbfcfe !important;
}
.partners .partners-grid-light svg {
  fill: #36536b !important;
}

/*Forms*/
.start-form {
  width: 100%;
  margin-bottom: 60px;
}

.start-form p {
  margin-bottom: 24px;
}

.contact-form input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid;
  color: #6c8294;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  /* if not supported, Javascript should add class */
  /* Mozilla Firefox 4 to 18 */
  /* Mozilla Firefox 19+ */
  /* WebKit browsers */
  /* Internet Explorer 10+ */
  /* browsers with full support for placeholder styling */
}
.contact-form input.placeholder {
  color: #6c8294;
}
.contact-form input:-moz-placeholder {
  color: #6c8294;
}
.contact-form input::-moz-placeholder {
  color: #6c8294;
}
.contact-form input::-webkit-input-placeholder {
  color: #6c8294;
}
.contact-form input:-ms-input-placeholder {
  color: #6c8294;
}
.contact-form input::input-placeholder {
  color: #6c8294;
}
.contact-form input:input-placeholder {
  color: #6c8294;
}
.contact-form input::placeholder {
  color: #6c8294;
}
.contact-form input:placeholder {
  color: #6c8294;
}
.contact-form textarea {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid;
  color: #6c8294;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  /* if not supported, Javascript should add class */
  /* Mozilla Firefox 4 to 18 */
  /* Mozilla Firefox 19+ */
  /* WebKit browsers */
  /* Internet Explorer 10+ */
  /* browsers with full support for placeholder styling */
}
.contact-form textarea.placeholder {
  color: #6c8294;
}
.contact-form textarea:-moz-placeholder {
  color: #6c8294;
}
.contact-form textarea::-moz-placeholder {
  color: #6c8294;
}
.contact-form textarea::-webkit-input-placeholder {
  color: #6c8294;
}
.contact-form textarea:-ms-input-placeholder {
  color: #6c8294;
}
.contact-form textarea::input-placeholder {
  color: #6c8294;
}
.contact-form textarea:input-placeholder {
  color: #6c8294;
}
.contact-form textarea::placeholder {
  color: #6c8294;
}
.contact-form textarea:placeholder {
  color: #6c8294;
}
.contact-form .legal-check {
  align-items: center;
}
.contact-form .legal-check input {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
}

/*Boostrap overwrite*/
.navbar-light .navbar-toggler {
  border: 0;
}
.navbar-light .navbar-toggler:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
