@import "styles/colors";

/* Expenses body */
.expenses-body {
  color: $dark-brown;
  padding: 3rem 2rem;
  border-radius: 12px;
  background-color: $pale-orange;
}

/* Chart */

.chart {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 200px;
  li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
    span {
      display: block;
      width: 75%;
      margin: 0 auto;
      border-radius: 4px;
      &:before {
        font-size: 0.9em;
        position: absolute;
        top: 105%;
        left: -7px;
        display: block;
        text-align: center;
        content: attr(title);
        rotate: 40dgr;
        transform: rotate(-50deg);
        width: 45px;
      }
    }
  }

  .bg-soft-red{
    background-color: $soft-red;
  }

  .bg-cyan{
    background-color: $cyan;
  }
}

.expenses-resume{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 2px;
  border-top-style: groove;
  h5{
    color: $medium-brown;
  }
  &__percent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    span{
      text-align: right;
      font-weight: bold;
      display: block;
      font-size: 1.3em;
    }
    p{
      color: $medium-brown;
      margin: 0;
    }
  }
}

