<div class='expenses-body'>
  <h4>Gastos - Últimos 7 días</h4>
   <ul class='chart'>
    <li *ngFor="let item of data">
      <span *ngIf="getMaxBg(item.amount)" [style.height]="getHeight(item.amount)" title={{item.day}} class="bg-cyan">
      </span>
      <span *ngIf="!getMaxBg(item.amount)" [style.height]="getHeight(item.amount)" title={{item.day}} class="bg-soft-red">
      </span>
    </li>
  </ul>
  <div class='expenses-resume'>
    <div class='expenses-resume__total'>
      <h5 class='subtitle'>Total este mes</h5>
      <h2>456.34€</h2>
    </div>
    <div class='expenses-resume__percent'>
      <span>+2.7%</span>
      <p>desde el mes anterior</p>
    </div>
  </div>
</div>
